<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${book}">
	[[*{isbn}]] - [[*{title}]] <br />
	<small>[[*{subtitle}]]</small> <br />	
	[[*{releaseDate}]]	
	<div th:if="*{borrowings.size() < 1}">
		<b>
			NEVER BORROWED
		</b>
	</div>
	<ul th:if="*{borrowings.size() > 0}">
		<li
			th:each="borrowing : *{borrowings}"
			th:object="${borrowing}"
		>
			[[*{borrowingDate}]] ~ [[*{returnDate}]] <br />
			<div th:if="*{note}">
				Note: <br />
				[[*{note}]]
			</div>
		</li>
	</ul>	
</body>
</html>