<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>
		BORROW EDIT
	</h1>
	<form
		th:object="${borrowing}"
		method="POST"	
	>
		<input type="text" name="id" th:field="*{id}" hidden >
		<input type="text" name="borrowingDate" th:field="*{borrowingDate}" hidden>
		<label for="returnDate">Return date</label>
		<input type="date" name="returnDate" th:field="*{htmlReturnDate}" >
		<br />
		<label for="note">Note</label>
		<input type="text" name="note" th:field="*{note}" >
		<br />
		<select name="book">
			<option 
				th:each="book : ${books}"
				th:object="${book}"
				th:value="*{id}"
				>
				[[*{title}]]
			</option>
		</select>
		<br />
		<input type="submit" value="BORROW" >
	</form>
</body>
</html>