<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 th:if="${pizza.id < 1}">CREATE NEW PIZZA</h1>
	<h1 th:if="${pizza.id > 0}">UPDATE PIZZA</h1>
	<form
		th:object="${pizza}"
		method="POST"
	>
		<label for="name">Name</label>
		<input type="text" name="name" th:field="*{name}" >
		<br />
		<div th:if="${#fields.hasErrors('name')}">
			<ul>
			   <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
			</ul>
			<br />
		</div>
		<label for="description">Description</label>
		<input type="text" name="description" th:field="*{description}" >
		<br />
		<div th:if="${#fields.hasErrors('description')}">
			<ul>
			   <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
			</ul>
			<br />
		</div>
		<label for="photo">Photo</label>
		<input type="text" name="photo" th:field="*{photo}" >
		<br />
		<div th:if="${#fields.hasErrors('photo')}">
			<ul>
			   <li th:each="err : ${#fields.errors('photo')}" th:text="${err}"></li>
			</ul>
			<br />
		</div>
		<label for="price">Price</label>
		<input type="number" name="price" th:field="*{price}" >
		<br />
		<div th:if="${#fields.hasErrors('price')}">
			<ul>
			   <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
			</ul>
			<br />
		</div>
		<h3>Ingredients:</h3>
		<div
			th:each="ingredient : ${ingredients}"
			th:object="${ingredient}"		
		>
			<input 
				type="checkbox"
				th:id="${'ingredient-' + ingredient.id}" 
				th:value="*{id}"
				th:field="${pizza.ingredients}"
			>
			<label th:for="${'ingredient-' + ingredient.id}">
				[[*{name}]]
			</label>
		</div>
		<br />
		<input type="submit" th:value="${pizza.id < 1 ? 'CREATE' : 'UPDATE'}" >
	</form>
</body>
</html>