<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>Pizza: [[*{name}]] - [[*{price}]] euro</h1>
	<h3>[[*{description}]]</h3>
	<img th:src="*{photo}" width="300px" />
	<h3>
		Special Offerts:
		<a 
			th:href="@{/pizzas/specialoffert/{id}(id=*{id})}"
			sec:authorize="hasAnyAuthority('ADMIN')"
		>
			+
		</a>
	</h3>
	<ul>
		<li
			th:each="so : *{offerts}"
			th:object="${so}"
		>
			[[*{title}]] <br />
			[[*{startDate}]] ~ [[*{endDate}]] <br />
			<a 
				th:href="@{/pizzas/specialoffert/edit/{id}(id=*{id})}"
				sec:authorize="hasAnyAuthority('ADMIN')"
			>
				EDIT
			</a>
		</li>
	</ul>
	<h3>Ingredients:</h3>
	<ul>
		<li
			th:each="ing : *{ingredients}"
			th:object="${ing}"
		>
			[[*{name}]]
		</li>
	</ul>
</body>
</html>