<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Pizze!!</h1>
	<a href="#">CREATE NEW PIZZA</a>
	<h1 th:if="${pizze.size() < 1}">No pizze :-(</h1>
	<div th:if="${pizze.size() > 0}"></div>
		<form>
			<label for="search">Search</label>
			<input type="text" name="search" th:value="${searchTitle}" />
			<input type="submit" value="SEARCH" />
		</form>
		<ul>
			<li
				th:each="pizza : ${pizze}"
				th:object="${pizza}"
			>
				<a th:href="@{pizzas/{id}(id=*{id})}">
					[[*{name}]]				
				</a>
			</li>
		</ul>
	</div>
</body>
</html>