<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Ciao, Mondo!</h1>
	<h1>To name: [[${to.getName()}]]</h1>
	<div th:object="${to}">
		<h1>[[*{getName()}]]</h1>
	</div>
	<a th:href="@{http://google.com/search(q='hello')}">Google.com</a>
	<br />
	<a th:href="@{/testObj/{id}(id=${to.getId()})}">Test Obj</a>
	<h1>To id: [[${to.getId()} + 2]]</h1>
	<h1
		th:if="${to.getId()} > 20"
	>Id of TO is greater then 20</h1>
	
	<h1>Objs:</h1>
	<ul>
		<li 
			th:each="obj : ${objs}"
			th:object="${obj}"
		>
			[[*{name}]] - [[${obj.name}]] - [[${obj.getName()}]]
		</li>
	</ul>
</body>
</html>